<!DOCTYPE html>
<html>
<head>
  <title>Detalhes do Usuário</title>
</head>
<body>
  <h1>Detalhes do Usuário</h1>
  <p>Nome: <%= @usuario['nome'] %></p>
  <p>Senha: <%= @usuario['senha'] %></p>
  <p>Código: <%= @usuario['codigo'] %></p>
</body>
</html>