<!DOCTYPE html>
<html>
<head>
  <title>MIL</title>
</head>
<body>
  <h1>Cadastro de Usuario MIL</h1>
  <p>Para criar um usuario, clique aqui <a href="/usuarios/novo">NOVO USUARIO</a> para fazer o registro</p>
</body>
</html>