<!DOCTYPE html>
<html>
<head>
  <title>Novo Usuário</title>
</head>
<body>
  <h1>Novo Usuário</h1>
  <form action="/usuarios" method="post">
    Nome: <input type="text" name="nome"><br>
    Senha: <input type="password" name="senha"><br>
    Código: <input type="text" name="codigo"><br>
    <input type="submit" value="Criar">
  </form>
</body>
</html>