<!DOCTYPE html>
<html>
<head>
  <title>Lista de Usuários</title>
</head>
<body>
  <h1>Lista de Usuários</h1>
  <ul>
    <% @usuarios.each do |usuario| %>
      <li> <%= usuario['nome'] %> </li>
    <% end %>
  </ul>
</body>
</html>